
/*
nombre .- Sólo nombre para elementos con un solo nombre

".nombre" .- Para elementos y usar el nombre de la clase de todos los elementos con este nombre de clase

"#nombre" para elementos con ID y aplican los estilos para todos los elementos con este ID
*/

.body {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(50deg, #765d08 50%, #14588c 100%);
}

#map {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(50, 150, 250, 0.5);
}