/*
"nombre" .- Sólo nombre para elementos con un solo nombre es decir, las etiquetas

".nombre" .- Para elementos con el nombre de la clase definidos, para todos los elementos con este nombre de clase

"#nombre" Para elementos con ID y aplican los estilos para todos los elementos con el mismo ID
*/

.body {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(50deg, #765d08 50%, #14588c 100%);
}

#map {
    position: fixed;
    width: 100%;
    height: 100%;
}